<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bill.googleoauthandroidcapturecallback">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalendarListerActivity"
            android:label="@string/title_activity_calendar_lister" />
        <activity android:name=".backEnd" />
        <activity android:name=".getData"></activity>
        <receiver android:name="com.example.bill.googleoauthandroidcapturecallback.AlarmReceiver">
            <intent-filter>
                <action android:name="com.example.alarmsound.AlarmReceiver" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
